<div id="all_tools" class="admin_tools">
  <h1>All Tools</h1>
  <ul>
    <li><a href="/tools/importer">importer</a></li>
    <li><a href="/tools/ms_variant_reporter">MarineStore variant reporter</a></li>
    <li><a href="/tools/icons">property icons</a></li>
    <li><a href="/tools/purchase_reporter">purchase reporter</a></li>
    <li><a href="/tools/title_report">title report (direct download)</a></li>
    <li><a href="/tools/users">users</a></li>
  </ul>
</div>
