<div id="ms_variant_reporter">
  <h1>MarineStore Variant Reporter</h1>
  <p>Select a <strong><%= @expected_name %></strong> to upload...</p>
  <form action="/tools/ms_variant_reporter" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
    <span class="error"> <%= @error %> </span>
  </form>
</div>
