.*
!.gitignore
*~
bin/*
caches/*
doc/*
!doc/README
!doc/rdoc/
!doc/server_setup.txt
importer/indexes
log/
public/assets
public/javascripts/compiled.js
public/sitemap.xml
public/stylesheets/compiled.css
vendor/bundle
vendor/ruby
