<%= partial "common/header" %>

<div id="body">

<div id="prod_data_panel" class="panel minor">
	<div class="title"> <h2>Common Product Data</h2> </div>
	<div class="advert">Manufacturer Logo Here</div>
	<div class="sections"> </div>
</div>

<div id="compare_by_image_panel" class="panel major">
	<div class="title">
		<h2> <a href="<%= resource(@find) %>">Back to <strong><%= @find.specification.inspect %></strong> results</a> </h2>
	</div>
	
	<div class="body">
		BODY
	</div>
</div>

</div>

<script type="text/javascript" charset="utf-8">
	prod_data_panel_load(<%= @common_values.to_json %>);
</script>
