<%= partial "common/header" %>

<div id="body">
	<noscript>
	<p class="noscript">This site relies heavily on Javascript support. <br/> <br/> Please turn Javascript on in your browser or switch to one with such support.</p>
	</noscript>
</div>
