<%= partial "common/header" %>

<div id="body">
  <noscript>
  <p class="noscript">This site relies heavily on Javascript support. <br/> <br/> Please turn Javascript on in your browser or switch to one with such support.</p>
  </noscript>
  
  <div id="tag_cloud_cta"></div>
  <p class="tag_cloud">
    <% compile_tags.each do |tag, weight| %>
    <%= finder_link(tag, "weight_#{weight}", true, Indexer.category_definition(tag), :above) %>
    <% end %>
    <a href="/categories">show all categories</a>
  </p>
  
  <div id="intro">
    <div>
      <h2>Welcome to ifloat<sup>速</sup></h2>
      <p>ifloat<sup>速</sup> is an independent, uniquely innovative marine leisure products site.</p>
      <p>We offer a sophisticated and powerful approach to finding marine leisure and boating products from a comprehensive database and aim to provide the single most valuable boating products resource on the internet.</p>
      <p>At ifloat<sup>速</sup> we pride ourselves on offering extreme depth of information on the products we list. It is this level of detail that allows us to provide you with tools to differentiate and filter products with unprecedented speed and power.</p>
      <p>Once you're ready to buy what you've found, we make it easy to find the best price from our partners.</p>
      <p>It couldn't be simpler - <em>find, buy, float</em></p>
    </div>
    <div>
      <h2>How to Find Products</h2>
      <h3>3 Ways to Start</h3>
      <ul>
        <li>The Find Box - just type in a few relevant words</li>
        <li>The Tag Cloud - larger words mean more products</li>
        <li>Show All Categories - browse all products hierarchically</li>
      </ul>
      <h3>Customized Filtering</h3>
      <p>Having used the find box or selected a tag, you can narrow down your results quickly and easily using the powerful filtering tools. Want all the size 9, deck shoes? Or how about all the tins of antifouling between 25 and 85 US fluid ounces that can be applied with a roller? It's all just a click away.</p>
      <p>The ifloat<sup>速</sup> difference is that we never prejudge which aspects of a product will be most important to you.</p>
    </div>
  </div>
</div>
