<%= partial "common/login" %>

<div id="marquee">
	<%= partial "common/finder" %>
	<div class="panel">
		<div class="left"></div>
		<div class="centre">
			<% if @show_purchases_button %>
			<a href="/picked_products/options" id="purchases"></a>
			<% else %>
			<div id="purchases"></div>
			<% end %>
			<a href="/blogs/tom_cunliffe" id="blog"></a>
			<% if session.authenticated? %>
			<a id="logout" href="#" onclick="login_logout()"></a>
			<% else %>
			<a id="login" href="#" onclick="login_open()"></a>
			<% end %>
		</div>
		<div class="right"></div>
	</div>
	
	<noscript>
	<p class="noscript">This site makes extensive use of Javascript throughout and is largely unusable without it. Please activate Javascript support in your browser or switch to a browser with such support.</p>
	</noscript>
</div>

<script type="text/javascript" charset="utf-8">
	<% Dir[Merb.root / "public" / "images" / "marquee" / "buttons" / "*.png"].each do |path| %>
	util_preload_image('/images/marquee/buttons/<%= File.basename(path) %>');
	<% end %>
</script>