<%= partial "common/header" %>

<div id="body">

<% if @find.all_product_count.zero? %>

<img id="no_results" src="/images/products/no_results.png" />


<% else %>

<div id="filter_panel" class="panel minor">
	<div class="title"> <h2>Filters</h2> </div>
	<div class="controls">
		<div id="filter_panel_add"> </div>
		<div id="filter_panel_remove"> </div>
	</div>
	<div class="body">
		<!-- sections go here -->
	</div>
</div>

<div id="find_results_panel" class="panel major">
	<div class="title">
		<h2>
			Showing <span id="find_results_count">? / ?</span>
			products for <span class="spec"><%= @find.specification %></span>
		</h2>
	</div>
	
	<div id="find_results_products">
		
		<hr class="terminator" />
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var body_state = {
		filter_queue: [],
		filter_queue_active: -1,
		find_id: <%= @find.id %>
	};
	
	find_results_update();
	
	// var options = {autoOpen: false, modal: true};
	// 	options.buttons = {
	// 		"Paste Value": fraction_helper_paste_value,
	// 		"Cancel": function() { $(this).dialog("close"); }
	// 	};
	// 	options.close = function() { this.input.css("background", "white"); }
	// 	$("#fraction_helper").dialog(options);
	// 	
	// 	filter_load_all(r.find_id);
</script>

<% end %>

</div>