#cached_find_events {
  background: white;
}

#cached_find_events a {
  background: white;
  color: #404040;
  display: block;
        padding: 10px;
  text-decoration: none;
}

#cached_find_events a:hover {
  color: black;
  text-decoration: underline;
}

#cached_find_events table {
  font-size: 14px;
  margin-left: 5px;
}

#cached_find_events table td {
  padding: 5px;
}

#cached_find_events table td.count {
  text-align: right;
}

#cached_find_events table th {
  padding: 5px;
  text-align: left;
}

#property_icons h1 {
  color: white;
  margin: 0;
}

#property_icons table {
  float: left;
  font-size: 14px;
  margin: 10px 0 0 10px;
}

#property_icons table td {
  padding: 5px;
}

#property_icons table td.blank {
  color: red;
}

#property_icons table td.not_needed {
  color: #404040;
  font-style: italic;
}

#property_icons table th {
  background: blue;
  color: orange;
  padding: 5px;
}
