.admin_tools {
  margin: 10px;
}

.admin_tools h1 {
  font-size: 18px;
}

.admin_tools h2 {
  font-size: 14px;
}

#all_tools li {
  font-size: 14px;
  padding: 2px;
}

#all_tools ul {
  padding-left: 20px;
}

#importer p.error {
  background: #FFFF99;
  border: 2px solid red;
  padding: 10px;
}

#importer p.warn {
  color: #404040;
  font-style: italic;
}

#importer span.error {
  color: red;
  font-weight: bold;
}

#importer span.success {
  color: green;
  font-weight: bold;
}

#ms_variant_reporter span.error {
  background: #FFFF99;
  border: 2px solid red;
  display: inline;
  margin-left: 10px;
  padding: 10px;
}

#property_icons h1 {
  color: white;
  margin: 0;
}

#property_icons table {
  float: left;
  font-size: 14px;
  margin: 0 10px 10px 0;
}

#property_icons table td {
  padding: 5px;
}

#property_icons table td.blank {
  color: red;
}

#property_icons table td.not_needed {
  color: #404040;
  font-style: italic;
}

#property_icons table th {
  background: blue;
  color: orange;
  padding: 5px;
}

#purchase_reporter table {
  border-collapse: collapse;
}

#purchase_reporter table th {
  border: 1px solid silver;
  padding: 5px;
}

#purchase_reporter table td {
  border: 1px solid silver;
  padding: 5px;
}

#purchase_reporter table td.id {
  text-align: right;
}

#purchase_reporter table td.days {
  text-align: right;
}

#purchase_reporter table td.total {
  text-align: right;
}

#purchase_reporter table td ul {
  margin: 0;
  padding: 0 0 0 20px;
}
