#blog .article {
	padding: 10px;
}

#blog .article h1 {
	font-size: 18px;
	margin: 0;
}

#blog .article h2 {
	color: #404040;
	font-size: 14px;
	font-weight: normal;
	margin: 3px 0 10px 0;
}

#blog .article img {
	float: left;
	margin: 0 10px 10px 0;
	width: 200px;
}

#blog .article p.update {
	background: #DCE9F7;
	color: #404040;
	cursor: pointer;
	margin: 0 -10px 5px -10px;
	padding: 5px;
}

#blog form {
	background: #F3F3F3;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
	padding: 5px 15px 10px 15px;
}

#blog form.update {
	border-top: 1px solid silver;
	display: none;
	margin-left: -10px;
	margin-right: -10px;
}

#blog form h3 {
	float: left;
	margin: 8px 10px 0 0;
}

#blog form img {
	float: left;
	margin: 5px 5px 0 0;
	width: 100px;
}

#blog form textarea {
	height: 200px;
	width: 100%;
}

#blog p {
	margin: 5px 0 0 0;
}


#blog_info a {
	color: #404040;
	text-decoration: none;
}

#blog_info a:hover {
	color: black;
	text-decoration: underline;
}

#blog_info img {
	margin: 10px;
	width: 230px;
}

#blog_info hr {
	background: silver;
	border: none;
	height: 1px;
	margin: 0 10px;
}

#blog_info p {
	margin: 10px 10px 0 10px;
}

#blog_info p.link {
	text-align: center;
}

#blog_info .sections {
	padding-bottom: 10px;
}
