#brand_info {
  margin: 10px 10px 0 10px;
  padding: 10px;
}

#brand_info h1 {
  display: none;
}

#brand_info div {
  float: left;
}

#brand_info .logo {
  font-size: 24px;
  font-weight: bold;
  min-height: 10px;
  text-align: center;
  width: 180px;
}

#brand_info .logo a {
  color: #404040;
  text-decoration: none;
}

#brand_info .logo a:hover {
  color: black;
  text-decoration: underline;
}

#brand_info .description {
  color: gray;
  font-size: 16px;
  margin-left: 5px;
  width: 735px;
}

#brand_info h1 {
  color: #404040;
  margin: 5px 0 0 0;
  font-size: 16px;
}

#brand_info p {
  margin: 0;
}

#brand_products {
  color: white;
  margin: 0 10px 10px 10px;
  padding: 15px 5px;
}

#brand_products .product_set_info {
  color: #404040;
  float: left;
  margin: 10px 10px 0 0;
  width: 134px;
}

#brand_products .product_set_info a {
  color: #30A0FB;
  text-decoration: none;
}

#brand_products .product_set_info a:hover {
  text-decoration: underline;
}

#brand_products .product_set_info p {
  margin: 0 0 3px 0;
  text-align: right;
}

#brand_products .product_set_info p.heading {
  font-size: 16px;
}

#brand_products .product_set_info p.show_all img {
  display: none;
}

#brand_products .product_set {
  float: left;
  height: 102px;
  margin-bottom: 5px;
  padding: 5px;
  overflow: hidden;
}

#brand_products .product_set .viewport {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 713px;
}

#brand_products .product_set .buttons {
  display: block;
  float: left;
  height: 100%;
  width: 30px;
}

#brand_products .product_set .buttons.prev {
  background: url(/images/carousel/buttons/previous.png) no-repeat;
}

#brand_products .product_set .buttons.next {
  background: url(/images/carousel/buttons/next.png) no-repeat;
}

#brand_products .product_set .buttons:hover {
  background-position: 0 -102px;
}

#brand_products .product_set .buttons.prev.disable {
  background: none;
  border-right: 1px solid gray;
}

#brand_products .product_set .buttons.next.disable {
  visibility: hidden;
}

#brand_products .product_set .overview {
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#brand_products .product_set .overview li {
  float: left;
  height: 102px;
  width: 102px;
}

#brand_products .product_set .overview li img {
  border: 1px solid gray;
  border-left: none;
}
