#breadcrumbs {
  font-size: 16px;
  margin: 5px 0;
}

#breadcrumbs a {
  background: #F5F5F5;
  border: 1px solid #6D87A1;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  color: #404040;
  display: block;
  float: left;
  padding: 5px 15px;
  text-decoration: none;
}

#breadcrumbs a:hover {
  color: black;
  text-decoration: underline;
}

#breadcrumbs a:last-child {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#breadcrumbs a.unfind {
  background: #C00000;
  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-left: none;
  color: white;
  padding: 5px;
}

#breadcrumbs a.unfind:hover {
  background: red;
  text-decoration: none;
}

#breadcrumbs a.filter {
  background: #4DBBF7;
  background: -moz-linear-gradient(100% 100% 90deg, #87DAF5, #2AA0FB);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87DAF5), to(#2AA0FB));
  color: white;
}

#breadcrumbs a img {
  display: none;
}

#breadcrumbs a .see_all {
  font-size: 10px;
}

#breadcrumbs span.chevron {
  border: solid transparent;
  border-left-color: #6D87A1;
  border-width: 15px 0 15px 15px;
  display: block;
  float: left;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin-right: 5px;
}
