#buy {
  background: #90C0FA;
  background: -moz-linear-gradient(100% 100% 90deg, #A8D8FD, #78B3FA);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A8D8FD), to(#78B3FA));
  width: 100%;
}

#buy a.back {
  color: #404040;
  display: block;
  float: left;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

#buy a.back:hover {
  color: black;
  text-decoration: underline;
}

#buy .finder {
  float: left;
  margin: 5px;
}

#buy .finder form {
  margin: 0;
}

#buy .finder p {
  display: inline;
  margin: 0;
}

#buy .finder #finder_specification {
  width: 175px;
}

#buy_separator {
  background: #30A0FB;
  background: -moz-linear-gradient(100% 100% 90deg, gray, white);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(gray), to(white));
  height: 5px;
  width: 100%;
}