#common_values {
  background: #E0F0FF;
  border: 1px solid silver;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
}

#common_values h3 {
  color: #404040;
  margin: 10px 0 5px 0;
}

#common_values table {
  float: left;
  margin: 0 0 0 5px;
}

#common_values table td {
  padding: 3px;
}

#common_values table td.icon {
  vertical-align: top;
}

#common_values table td.summary {
  width: 150px;
}
