#common_values {
  border: 1px solid silver;
  border-collapse: collapse;
  margin: 5px 0 10px 0;
  width: 100%;
}

#common_values td {
  border: 1px solid silver;
  border-collapse: collapse;
}

#common_values tr.even td {
  background: #F5F5F5;
}

#common_values td.section {
  border: 1px solid silver;
  color: #404040;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

#common_values table {
  float: left;
  margin: 0 0 0 5px;
}

#common_values table td {
  border: none;
  padding: 3px;
}

#common_values table td.icon {
  vertical-align: top;
}

#common_values table td.summary {
  width: 140px;
}
