#compare_by_class img.product {
	border: 1px solid gray;
	height: 100px;
	width: 100px;
}

#compare_by_class table {
	width: 100%;
}

#compare_by_class table p {
	margin: 0 0 5px 0;
}

#compare_by_class table td {
	padding: 5px;
	vertical-align: top;
}

#compare_by_class table td.count {
	color: #404040;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}

#compare_by_class table td.icon {
	text-align: center;
}

#compare_by_class table td.image {
	text-align: center;
}

#compare_by_class table td.product {
	cursor: pointer;
}

#compare_by_class table tr.even td {
	background: #F3F3F3;
}

#compare_by_class table tr.nav td {
	color: #404040;
	width: 1%;
}

#compare_by_class table tr.nav td:hover {
	color: black;
	text-decoration: underline;
}

#compare_by_class table tr.nav td.maximize {
	cursor: pointer;
	text-align: right;
}

#compare_by_class table tr.nav td.minimize {
	cursor: pointer;
}

#compare_by_class table tr.odd td {
	background: #DCE9F7;
}

#compare_by_class table tr td.hover {
	background: #F9BD48;
}

#compare_by_class table ul {
	margin: 0 0 5px 0;
	padding-left: 15px;
}