#compare_by_class {
  float: left;
  margin-right: 165px;
  padding: 5px 15px;
}

#compare_by_class h2 {
  color: #404040;
  font-size: 14px;
  margin: 15px 0 5px 0;
}

#compare_by_class table.diff_values {
  width: 100%;
}

#compare_by_class table.diff_values p {
  margin: 0 0 5px 0;
}

#compare_by_class table.diff_values td {
  padding: 5px;
  vertical-align: top;
}

#compare_by_class table.diff_values td.count {
  color: #404040;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}

#compare_by_class table.diff_values td.icon {
  text-align: center;
}

#compare_by_class table.diff_values td.image img {
  border: 1px solid #D0D0D0;
  height: 100px;
  width: 100px;
}

#compare_by_class table.diff_values td.image {
  text-align: center;
}

#compare_by_class table.diff_values td.product {
  cursor: pointer;
  min-width: 178px;
}

#compare_by_class table.diff_values tr.even td {
  background: #F3F3F3;
}

#compare_by_class table.diff_values tr.nav td {
  color: #404040;
  font-size: 16px;
  padding-bottom: 0;
}

#compare_by_class table.diff_values tr.nav td:hover {
  color: black;
  text-decoration: underline;
}

#compare_by_class table.diff_values tr.nav td.maximize {
  cursor: pointer;
  text-align: right;
}

#compare_by_class table.diff_values tr.nav td.minimize {
  cursor: pointer;
}

#compare_by_class table.diff_values tr.odd td {
  background: #E0F0FF;
}

#compare_by_class table.diff_values tr td.hover {
  background: #F9BD48;
}
