#filter_choose {
	padding: 0;
}

#filter_choose .even {
	background: #DCE9F7;
}

#filter_choose .section {
	border-bottom: 1px solid silver;
}

#filter_choose .section .filter {
	float: left;
	padding: 5px 10px;
}

#filter_choose .section h3 {
	color: #404040;
	font-weight: normal;
	height: 21px;
	margin: 0;
	padding: 5px 0 0 5px;
}

#filter_choose .section p {
	color: blue;
	margin: 0;
	width: 58px;
	text-align: center;
}

