#filter_panel .sections .filter {
	margin-left: 5px;
	width: 240px;
}

#filter_panel .sections .filter img.property_icon {
	cursor: pointer;
	margin-top: 2px;
}

#filter_panel .sections .filter .remove {
	background: url(/images/filter_panel/buttons/remove.png) no-repeat;
	cursor: pointer;
	height: 12px;
	width: 13px;
}

#filter_panel .sections .filter .remove:hover {
	background-position: 0 -12px;
}

#filter_panel .sections .filter .remove:active {
	background-position: 0 -24px;
}

#filter_panel .sections .filter td {
	padding: 0;
}

#filter_panel .sections .filter td.summary {
	padding: 0 5px;
	width: 100%;
}

#filter_panel .sections hr.terminator {
	height: 5px;
}

#filter_panel_add {
	background: url(/images/filter_panel/buttons/add.png) no-repeat;
}

#filter_panel_add:hover {
	background-position: 0 -23px;
}

#filter_panel_add:active {
	background-position: 0 -46px;
}

#filter_panel_remove_all {
	background: url(/images/filter_panel/buttons/remove_all.png) no-repeat;
}

#filter_panel_remove_all:hover {
	background-position: 0 -23px;
}

#filter_panel_remove_all:active {
	background-position: 0 -46px;
}
