#filter_configure {
	padding: 0;
}

#filter_configure .slider_set {
	background: #DCE9F7;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 5px 20px 20px 20px;
}

#filter_configure .slider_set p {
	margin: 10px 0;
	padding-left: 15px;
}

#filter_configure p.apply {
	margin: 0;
	padding: 10px 18px;
	width: 664px;
}

#filter_configure p.apply span {
	color: #404040;
	cursor: pointer;
	margin-left: 18px;
}

#filter_configure p.apply span:hover {
	color: black;
	text-decoration: underline;
}

#filter_configure p.include_unknown {
	background: #F3F3F3;
	margin: 0;
	padding: 5px 0 5px 13px;
}

#filter_configure p.include_unknown strong {
	color: #17A1FF;
}

#filter_configure p.location {
	border-bottom: 1px solid silver;
	font-size: 14px;
	margin: 0;
	padding: 10px 18px;
	width: 664px;
}

#filter_configure p.select_all {
	background: #F3F3F3;
	margin: 0;
	padding: 5px 0 10px 13px;
}

#filter_configure p.units {
	background: #F3F3F3;
	margin: 0;
	padding: 5px 0 10px 35px;
	text-align: left;
}

#filter_configure table {
	background: #DCE9F7;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 10px;
	width: 700px;
}

#filter_configure table td {
	vertical-align: top;
}

#filter_configure table td.check {
	width: 1%;
}

#filter_configure table td.irrelevant {
	color: silver;
	text-decoration: line-through;
}

#filter_configure table td.value:hover {
	cursor: pointer;
	text-decoration: underline;
}
