#filter_configure {
	padding: 0;
}

#filter_configure .location {
	height: 61px;
	width: 700px;
}

#filter_configure .location img {
	float: left;
}

#filter_configure .location img.property_icon {
	float: none;
	padding: 0 10px 0 17px;
	vertical-align: middle;
}

#filter_configure .location h3 {
	background: #B9B9B9;
	border-top: 1px solid #969696;
	border-bottom: 1px solid white;
	float: left;
	font-size: 14px;
	font-weight: normal;
	height: 39px;
	margin: 0px;
	padding: 20px 17px 0 17px;
}

#filter_configure .location h3.back {
	background-image: url(/images/filter_configure/backgrounds/location_button.png);
	border: none;
	cursor: pointer;
	height: 41px;
}

#filter_configure .location p {
	background: #B9B9B9;
	border-top: 1px solid #969696;
	border-bottom: 1px solid white;
	font-size: 14px;
	height: 39px;
	margin: 0;
	padding: 12px 0 8px 0;
}

#filter_configure .location p strong {
	color: #2478BD;
	font-weight: normal;
}

#filter_configure .slider_set {
	background: #DCE9F7;
	padding: 5px 20px 20px 20px;
}

#filter_configure .slider_set p {
	margin: 10px 0;
	padding-left: 15px;
}

#filter_configure p.include_unknown {
	padding-left: 13px;
	text-align: left;
}

#filter_configure p.include_unknown strong {
	color: #17A1FF;
}

#filter_configure p.units {
	padding-left: 35px;
	text-align: left;
}

#filter_configure table {
	background: #DCE9F7;
	padding: 10px;
	width: 700px;
}

#filter_configure table td {
	vertical-align: top;
}

#filter_configure table td.check {
	width: 1%;
}

#filter_configure table td.irrelevant {
	color: #404040;
	text-decoration: line-through;
}

#filter_configure table td.value:hover {
	cursor: pointer;
	text-decoration: underline;
}
