#find_results_products {
	padding: 3px 0 3px 0;
}

#find_results_products a.product {
	color: #17A1FF;
	float: left;
	font-size: 10px;
	font-weight: bold;
	margin: 2px 0 0 5px;
	position: relative;
	text-decoration: none;
}

#find_results_products a.product .tally {
	background: white;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	bottom: 3px;
	padding: 1px 2px;
	position: absolute;
	right: 1px;
}

#find_results_products a.product img {
	border: 1px solid gray;
	height: 100px;
	width: 100px;
}

#find_results_products p {
	font-size: 14px;
	text-align: center;
}
