#header {
  border-top: 5px solid #30A0FB;
}

#header .global_links {
  color: #30A0FB;
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}

#header .global_links a {
  color: #30A0FB;
  padding: 5px 10px;
  text-decoration: none;
}

#header .global_links a:hover {
  text-decoration: underline;
}

#header .global_links a.login {
  background: #30A0FB;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  color: white;
}

#header .logo img {
  margin: 10px 0 0 15px;
  vertical-align: bottom;
}

#header .advert {
  position: absolute;
  left: 645px;
  top: 45px;
}

#header .find_bar {
  background: #90C0FA;
  background: -moz-linear-gradient(100% 100% 90deg, #A8D8FD, #78B3FA);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A8D8FD), to(#78B3FA));
  border-bottom: 1px solid #30A0FB;
  border-top: 5px solid #30A0FB;
  height: 50px;
}

#header .find_bar .finder {
  float: left;
  margin: 7px 0 0 25px;
}

#header .find_bar .finder #finder_specification {
  border: 2px solid #30A0FB;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  width: 275px;
}

#header .find_bar .finder #finder_submit {
  background: #EDEDED;
  background: -moz-linear-gradient(100% 100% 90deg, #FAFAFA, #DADADA);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#DADADA));
  border: 1px solid #6D87A1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  padding: 5px 20px;
}

#header .find_bar .finder #finder_submit:hover {
  cursor: pointer;
}

#header .find_bar .finder p {
  display: inline;
}

#header .find_bar #basket_tab {
  background: orange;
  background: -moz-linear-gradient(100% 100% 90deg, #FECC46, #FFA329);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FECC46), to(#FFA329));
  border: 1px solid gray;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  float: right;
  font-size: 16px;
  height: 18px;
  margin: 17px 15px 0 0;
  padding: 7px 0;
  text-align: center;
  width: 148px;
}
