#header {
	background: url(/images/common/backgrounds/sky_find_bar.png) repeat-x;
}

#header_body {
	height: 182px;
	margin: 0 auto;
	width: 906px;
}

#header .find_bar {
	height: 26px;
	padding-top: 10px;
	position: absolute;
	top: 146px;
	width: 906px;
}

#header .find_bar #finder_specification {
	width: 180px;
}

#header .find_bar .finder {
	float: left;
}

#header .find_bar .finder p {
	margin: 0;
}

#header .find_bar .finder select {
	margin: 0 0 0 2px;
	width: 15px;
}

#header .find_bar .pick_list {
	cursor: default;
	float: right;
	height: 21px;
	margin-left: 5px;
	position: relative;
	width: 202px;
	z-index: 10;
}

#header .find_bar .pick_list .items {
	background: white;
	float: right;
	margin-right: 13px;
	width: 166px;
}

#header .find_bar .pick_list .items a {
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	color: black;
	clear: both;
	display: block;
	height: 27px;
	overflow: hidden;
	padding: 2px 0;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#header .find_bar .pick_list .items a:hover {
	background: url(/images/pick_lists/backgrounds/item_hover.png) repeat-x;
}

#header .find_bar .pick_list .items a.buy {
	font-weight: bold;
	height: 23px;
	padding: 8px 0 0 41px;
}

#header .find_bar .pick_list .items a img {
	border: 1px solid gray;
	float: left;
	height: 25px;
	margin: 0 7px;
	width: 25px;
}

#header .find_bar .pick_list .menu {
	background: url(/images/pick_lists/buttons/list.png) no-repeat;
	float: right;
	height: 21px;
	width: 178px;
}

#header .find_bar .pick_list .name {
	float: left;
	padding: 4px 0 0 4px;
}

#header .find_bar .pick_list .total {
	float: right;
	padding: 4px 20px 0 0;
}

#header .find_bar #pl_buy_later {
	background: url(/images/pick_lists/backgrounds/buy_later.png) no-repeat;
}

#header .find_bar #pl_buy_now {
	background: url(/images/pick_lists/backgrounds/buy_now.png) no-repeat;
}

#header .find_bar #pl_compare {
	background: url(/images/pick_lists/backgrounds/compare.png) no-repeat;
}

#header .global_links {
	color: #404040;
	float: right;
	margin-top: 20px;
}

#header .global_links a {
	color: #404040;
	margin: 5px;
	text-decoration: none;
}

#header .global_links a:hover {
	color: black;
	text-decoration: underline;
}

#header img {
	margin-top: 24px;
}
