p.noscript {
	background: #FFFFE0;
	border: 1px solid gray;
	color: red;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

p.tag_cloud {
	background: #B0E0FF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 2px 2px 2px gray;
	-moz-box-shadow: 2px 2px 2px gray;
	-webkit-box-shadow: 2px 2px 2px gray;
	margin-top: 0;
	padding: 20px;
	text-align: justify;
}

p.tag_cloud span {
	margin-right: 10px;
}

p.tag_cloud span.weight_0 {
	color: #83AAF1;
}

p.tag_cloud span.weight_1 {
	color: #5B87DA;
	font-size: 150%;
}

p.tag_cloud span.weight_2 {
	color: #345EB7;
	font-size: 200%;
}

p.tag_cloud span.weight_3 {
	color: #1A43A3;
	font-size: 250%;
}

p.tag_cloud span.weight_4 {
	color: #122989;
	font-size: 300%;
}

#tag_cloud_cta {
	background: #B0E0FF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 20px;
	margin: -5px 0 -10px 100px;
	width: 10px;
}
