#marquee {
	background: url(/images/marquee/logo.png) no-repeat 10px 0;
	margin: 150px auto 0;
	padding-top: 123px;
	width: 613px;
}

#marquee .finder {
	background: url(/images/marquee/backgrounds/find.png) repeat-x;
	height: 42px;
	margin-top: -3px;
	text-align: center;
	width: 100%;
}

#marquee .finder div {
	float: left;
	height: 42px;
	width: 19px;
}

#marquee .finder div.left {
	background: url(/images/marquee/backgrounds/find_left.png) no-repeat;
}

#marquee .finder div.right {
	background: url(/images/marquee/backgrounds/find_right.png) no-repeat;
}

#marquee .finder form {
	float: left;
	width: 575px;
}

#marquee .finder p {
	margin: 10px 0 0 0;
}

#marquee .finder select {
	margin-right: 10px;
	width: 210px;
}

#marquee .panel {
	background: url(/images/marquee/backgrounds/panel.png) repeat-x;
	clear: both;
	height: 167px;
	margin-top: 10px;
	width: 613px;
}

#marquee .panel div {
	float: left;
	height: 167px;
	width: 19px;
}

#marquee .panel div.centre {
	text-align: center;
	height: 97px;
	padding: 35px 10px;
	width: 555px;
}

#marquee .panel div.centre a {
	display: block;
	float: left;
	height: 86px;
	margin: 0 0 0 72px;
	width: 87px;
}

#marquee .panel div.centre a#blog {
	background: url(/images/marquee/buttons/blog_enabled.png) no-repeat;
}

#marquee .panel div.centre a#blog:hover {
	background: url(/images/marquee/buttons/blog_hover.png) no-repeat 1px;
}

#marquee .panel div.centre a#login {
	background: url(/images/marquee/buttons/login_enabled.png) no-repeat;
}

#marquee .panel div.centre a#login:hover {
	background: url(/images/marquee/buttons/login_hover.png) no-repeat 1px;
}

#marquee .panel div.centre a#logout {
	background: url(/images/marquee/buttons/logout.png) no-repeat 1px;
}

#marquee .panel div.centre a#logout:hover {
	background: url(/images/marquee/buttons/logout_hover.png) no-repeat 1px;
}

#marquee .panel div.centre a#purchases {
	background: url(/images/marquee/buttons/purchases_enabled.png) no-repeat;
}

#marquee .panel div.centre a#purchases:hover {
	background: url(/images/marquee/buttons/purchases_hover.png) no-repeat 1px;
}

#marquee .panel div.centre div {
	display: block;
	float: left;
	height: 86px;
	margin: 0 0 0 72px;
	width: 87px;
}

#marquee .panel div.centre div#purchases {
	background: url(/images/marquee/buttons/purchases_disabled.png) no-repeat 1px;
}

#marquee .panel div.left {
	background: url(/images/marquee/backgrounds/panel_left.png) no-repeat;
}

#marquee .panel div.right {
	background: url(/images/marquee/backgrounds/panel_right.png) no-repeat;
}
