/* Picked Product Options */

#picked_product_options {
	margin: 38px auto 0 auto;
	width: 906px;
}

#picked_product_options a.product {
	display: block;
	margin: 10px;
	min-height: 50px;
	text-decoration: none;
}

#picked_product_options a.product > * {
	color: #404040;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#picked_product_options a.product h2 {
	border: none;
}

#picked_product_options a.product hr {
	display: none;
}

#picked_product_options a.product img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin: 0 10px;
	width: 50px;
}

#picked_product_options a.product p {
	display: none;
}

#picked_product_options table {
	border-collapse: collapse;
	margin-bottom: 5px;
	width: 100%;
}

#picked_product_options td.facility {
	background: #F3F3F3;
	border: 1px solid silver;
	border-bottom: none;
	height: 23px;
	padding: 0 10px;
	text-align: center;
}

#picked_product_options td.facility img {
	height: 16px;
	vertical-align: middle;
}

#picked_product_options td.move {
	border: 1px solid gray;
	border-bottom: none;
	color: #404040;
	padding: 4px 20px 0 20px;
	text-align: center;
	width: 80px;
}

#picked_product_options td.move a {
	color: #404040;
}

#picked_product_options td.move a:hover {
	color: black;
}

#picked_product_options td.move img {
	border: none;
}

#picked_product_options td.move p {
	margin: 0 0 5px 0;
}

#picked_product_options td.price {
	border: 1px solid gray;
	border-bottom: none;
	color: #404040;
	padding: 4px 10px;
	text-align: center;
	width: 80px;
}

#picked_product_options td.product {
	background: none;
	border: 1px solid gray;
	border-bottom: none;
}

#picked_product_options th {
	background: url(/images/pick_options/backgrounds/table_header.png) repeat-x;
	border-left: 1px solid gray;
	color: white;
	height: 16px;
	padding: 4px 10px;
}

#picked_product_options tr.separator td {
	background: url(/images/pick_options/backgrounds/table_header_seperator.png) repeat-x;
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	height: 5px;
	padding: 0;
}

#picked_product_options tr.total a {
	color: white;
	margin: 5px;
	text-decoration: none;
}

#picked_product_options tr.total a:hover {
	color: white;
	text-decoration: underline;
}

#picked_product_options tr.total td {
	background: url(/images/pick_options/backgrounds/table_footer.png) repeat-x;
	border-right: 1px solid #404040;
	color: white;
	height: 32px;
	padding: 0;
	text-align: center;
}

#picked_product_options tr.total th {
	background: url(/images/pick_options/backgrounds/table_footer.png) repeat-x;
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	height: 32px;
	padding: 0 5px 0 0;
	text-align: right;
}

/* Product Detail */

#product_detail {
	margin: 38px auto 0 auto;
	width: 906px;
}

/* Product Detail Compare */

#product_detail_compare a {
	color: white;
	text-decoration: none;
}

#product_detail_compare img.product {
	border: 1px solid gray;
	height: 100px;
	width: 100px;
}

#product_detail_compare table {
	margin-top: 10px;
	width: 100%;
}

#product_detail_compare td {
	padding: 5px;
	vertical-align: top;
}

#product_detail_compare .even td {
	background: #F3F3F3;
}

#product_detail_compare .odd td {
	background: #D2EFFF;
}

#product_detail_compare td.choose {
	background: url(/images/product_compare/backgrounds/panel_header.png) repeat-x;
	text-align: center;
}

/* Product Detail Data */

#product_detail_data {
	background: #D2EFFF;
	border: 1px silver solid;
	border-top: none;
	float: left;
	padding-bottom: 5px;
	width: 250px;
}

#product_detail_data .title {
	background: url(/images/product_detail/backgrounds/panel_header.png) repeat-x;
	color: white;
	height: 16px;
	padding: 4px 10px;
}

#product_detail_data table {
	margin-left: 10px;
	width: 230px;
}

#product_detail_data td {
	padding: 0;
	vertical-align: middle;
}

#product_detail_data th {
	border-bottom: 1px solid gray;
	color: #404040;
	font-weight: normal;
	padding-top: 5px;
	text-align: left;
}

#product_detail_data .summary {
	padding-left: 5px;
	padding-top: 2px;
	width: 160px;
}

#product_detail_data .summary span.defined {
	border-bottom: 1px dashed gray;
}

#product_detail_data .summary span.defined:hover {
	border-bottom: 1px solid gray;
}

/* Product Detail Diff */

#product_detail_diff_products a {
	color: white;
	text-decoration: none;
}

#product_detail_diff_products table {
	margin-top: 10px;
	width: 100%;
}

#product_detail_diff_products td {
	padding: 5px;
	vertical-align: top;
}

#product_detail_diff_products .even td {
	background: #F3F3F3;
}

#product_detail_diff_products .odd td {
	background: #D2EFFF;
}

#product_detail_diff_products td.choose {
	background: url(/images/product_differentiate/backgrounds/panel_header.png) repeat-x;
	width: 50px;
	text-align: center;
}

#product_detail_diff_products td.primary {
	border-bottom: 5px #FCBB1A solid;
}

/* Product Detail Main */

#product_detail_main {
	float: left;
	margin-left: 5px;
	width: 649px;
}

#product_detail_main a {
	text-decoration: none;
}

#product_detail_assets {
	background: #404040;
	clear: both;
	padding: 5px;
}

#product_detail_assets .asset_links {
	float: left;
	width: 179px;
}

#product_detail_assets .asset_links a {
	background: url(/images/product_detail/buttons/asset.png) no-repeat;
	display: block;
	color: #404040;
	height: 22px;
	padding: 9px 0 0 25px;
	width: 154px;
}

#product_detail_assets .asset_links a:hover {
	background: url(/images/product_detail/buttons/asset_hover.png) no-repeat;
	color: white;
}

#product_detail_assets .asset_links hr {
	background: silver;
	border: none;
	height: 1px;
	margin: 5px 0;
}

#product_detail_assets .asset_links #pick_buttons div {
	background: url(/images/pick_lists/backgrounds/enabled.png) repeat-x;
	border-left: 1px solid #4263A0;
	border-right: 1px solid #4263A0;
	color: white;
	cursor: pointer;
	height: 19px;
	margin-top: 7px;
	padding-top: 4px;
	text-align: center;
	width: 177px;
}

#product_detail_assets .asset_links table.prices {
	background: #F3F3F3;
	width: 179px;
}

#product_detail_assets .asset_links table.prices img {
	height: 19px;
}

#product_detail_assets .asset_links table.prices td {
	color: #404040;
	height: 22px;
	padding: 5px;
	text-align: center;
}

#product_detail_assets img.main {
	float: left;
	height: 400px;
	width: 400px;
}

#product_detail_assets .thumbs {
	float: left;
	margin: 0 5px;
	width: 50px;
}

#product_detail_assets .thumbs img {
	height: 50px;
	width: 50px;
}

#product_detail_assets hr {
	border: none;
	clear: both;
	height: 0;
	margin: 0;
}

#product_detail_words {
	border: 1px solid silver;
	padding: 10px;
}

#product_detail_words h1 {
	color: #17A1FF;
	font-size: 14px;
	margin: 0 0 4px 0;
}

#product_detail_words h2 {
	color: #404040;
	font-size: 14px;
	margin: 0 0 4px 0;
}

#product_detail_words h3 {
	margin: 15px 0 0 0;
}

#product_detail_words hr {
	background: silver;
	border: none;
	height: 1px;
}

#product_detail_words p {
	margin: 5px 0 0 0;
}

#product_detail_words ul {
	margin: 5px 0 0 0;
}

#product_detail_relations {
	background: #F3F3F3;
	border: 1px solid silver;
	border-top: none;
	padding: 10px;
}

#product_detail_relations .more {
	background: url(/images/product_detail/backgrounds/relations_footer.png) repeat-x;
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	height: 23px;
	margin-top: 5px;
	padding: 5px;
}

#product_detail_relations .more div {
	background: url(/images/product_detail/backgrounds/enabled.png) repeat-x;
	border-left: 1px solid #4263A0;
	border-right: 1px solid #4263A0;
	color: white;
	cursor: pointer;
	display: table-cell;
	height: 15px;
	padding: 4px 10px;
}

#product_detail_relations a.product {
	background: url(/images/products/buttons/jump.png) no-repeat 605px 5px;
	border-top: 1px dotted silver;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
}

#product_detail_relations a.product > * {
	color: #404040;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#product_detail_relations a.product h2 {
	border: none;
}

#product_detail_relations a.product img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin-right: 10px;
	width: 50px;
}

#product_detail_relations a.product p {
	display: none;
}

#product_detail_relations h1 {
	color: #17A1FF;
	font-size: 14px;
	margin: 0;
}

#product_detail_relations h2 {
	border-top: 1px solid silver;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding-top: 5px;
}

#product_detail_relations hr {
	border: none;
	clear: both;
	height: 0;
	margin: 0;
}
