/* Picked Product Options */

#picked_product_options {
	margin: 38px auto 0 auto;
	width: 906px;
}

#picked_product_options a.product {
	display: block;
	margin: 10px;
	min-height: 50px;
	text-decoration: none;
}

#picked_product_options a.product > * {
	color: #404040;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#picked_product_options a.product h2 {
	border: none;
}

#picked_product_options a.product hr {
	display: none;
}

#picked_product_options a.product img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin: 0 10px;
	width: 50px;
}

#picked_product_options a.product p {
	display: none;
}

#picked_product_options table {
	border-collapse: collapse;
	margin-bottom: 5px;
	width: 100%;
}

#picked_product_options td.facility {
	background: #F3F3F3;
	border: 1px solid silver;
	border-bottom: none;
	height: 23px;
	padding: 0 10px;
	text-align: center;
}

#picked_product_options td.facility img {
	height: 16px;
	vertical-align: middle;
}

#picked_product_options td.move {
	border: 1px solid gray;
	border-bottom: none;
	color: #404040;
	padding: 4px 20px 0 20px;
	text-align: center;
	width: 80px;
}

#picked_product_options td.move a {
	color: #404040;
}

#picked_product_options td.move a:hover {
	color: black;
}

#picked_product_options td.move img {
	border: none;
}

#picked_product_options td.move p {
	margin: 0 0 5px 0;
}

#picked_product_options td.price {
	border: 1px solid gray;
	border-bottom: none;
	color: #404040;
	padding: 4px 10px;
	text-align: center;
	width: 80px;
}

#picked_product_options td.product {
	background: none;
	border: 1px solid gray;
	border-bottom: none;
}

#picked_product_options th {
	background: url(/images/pick_options/backgrounds/table_header.png) repeat-x;
	border-left: 1px solid gray;
	color: white;
	height: 16px;
	padding: 4px 10px;
}

#picked_product_options tr.separator td {
	background: url(/images/pick_options/backgrounds/table_header_seperator.png) repeat-x;
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	height: 5px;
	padding: 0;
}

#picked_product_options tr.total a {
	color: white;
	margin: 5px;
	text-decoration: none;
}

#picked_product_options tr.total a:hover {
	color: white;
	text-decoration: underline;
}

#picked_product_options tr.total td {
	background: url(/images/pick_options/backgrounds/table_footer.png) repeat-x;
	border-right: 1px solid #404040;
	color: white;
	height: 32px;
	padding: 0;
	text-align: center;
}

#picked_product_options tr.total th {
	background: url(/images/pick_options/backgrounds/table_footer.png) repeat-x;
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	height: 32px;
	padding: 0 5px 0 0;
	text-align: right;
}
