#partner_panel {
	background: url(/images/partner/backgrounds/panel.png) repeat-y;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 165px;
}

#partner_panel a.back {
	background: url(/images/partner/backgrounds/control.png) no-repeat;
	border-bottom: 1px solid silver;
	color: #404040;
	display: block;
	height: 20px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

#partner_panel a.back:hover {
	color: black;
	text-decoration: underline;
}

#partner_panel .finder {
	background: url(/images/partner/backgrounds/control.png) no-repeat;
	border-top: 1px solid silver;
	margin: 5px 0 10px 0;
	padding: 4px 0;
	width: 150px;
}

#partner_panel .finder form {
	margin: 0;
}

#partner_panel .finder p {
	margin: 0;
	text-align: center;
}

#partner_panel .finder #finder_specification {
	width: 140px;
}

#partner_panel .finder #finder_submit {
	margin-top: 5px;
	width: 146px;
}

#partner_panel .pick_list {
	color: black;
	cursor: default;
	margin-top: 5px;
	width: 150px;
}

#partner_panel .pick_list .items a {
	color: black;
	clear: both;
	display: block;
	height: 27px;
	overflow: hidden;
	padding: 2px 0;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#partner_panel .pick_list .items a:hover {
	background: url(/images/partner/backgrounds/pick_list_item_hover.png) repeat-x;
}

#partner_panel .pick_list .items a.unavailable {
	color: gray;
}

#partner_panel .pick_list .items a.unavailable span.no_stock {
	display: none;
}

#partner_panel .pick_list .items a.unavailable:hover {
	color: red;
	height: 21px;
	padding-top: 8px;
	text-align: center;
}

#partner_panel .pick_list .items a.unavailable:hover img {
	display: none;
}

#partner_panel .pick_list .items a.unavailable:hover span.no_stock {
	display: inline;
}

#partner_panel .pick_list .items a.unavailable:hover span.summary {
	display: none;
}

#partner_panel .pick_list .items a img {
	border: 1px solid #D0D0D0;
	float: left;
	height: 25px;
	margin: 0 7px;
	width: 25px;
}

#partner_panel .pick_list .name {
	color: #404040;
	display: block;
	font-size: 14px;
	height: 27px;
	margin-bottom: 5px;
	padding: 8px 0 0 35px;
}

#pl_buy_later {
	background: url(/images/partner/backgrounds/buy_later.png) no-repeat;
}

#pl_buy_now {
	background: url(/images/partner/backgrounds/buy_now.png) no-repeat;
}


#partner_store {
	border: none;
	height: 100%;
	position: absolute;
}
