#partner_panel {
	background: url(/images/partner/backgrounds/panel.png) repeat-y;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 165px;
}

#partner_panel a.back {
	background: url(/images/partner/backgrounds/back.png) repeat-x;
	color: white;
	display: block;
	height: 17px;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

#partner_panel a.back:hover {
	text-decoration: underline;
}

#partner_panel .finder {
	background: url(/images/partner/backgrounds/finder.png) repeat-x;
	margin: 5px 0 0 0;
	padding: 4px 5px;
	width: 140px;
}

#partner_panel .finder form {
	margin: 0;
}

#partner_panel .finder p {
	margin: 0;
}

#partner_panel .finder #finder_specification {
	border-size: 3px;
	width: 134px;
}

#partner_panel .finder #submit {
	margin-top: 5px;
	width: 140px;
}

#partner_panel .pick_list {
	background: url(/images/partner/backgrounds/pick_list.png) repeat-x;
	color: black;
	cursor: default;
	margin-top: 5px;
	width: 150px;
}

#partner_panel .pick_list .items a {
	color: black;
	clear: both;
	display: block;
	height: 27px;
	overflow: hidden;
	padding: 2px 0;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#partner_panel .pick_list .items a:hover {
	background: url(/images/partner/backgrounds/pick_list_item_hover.png) repeat-x;
}

#partner_panel .pick_list .items a.unavailable {
	color: gray;
}

#partner_panel .pick_list .items a img {
	border: 1px solid gray;
	float: left;
	height: 25px;
	margin: 0 7px;
	width: 25px;
}

#partner_panel .pick_list .items a p {
	font-color: red;
	margin: 7px 0 0 0;
	text-align: center;
}

#partner_panel .pick_list .name {
	color: #404040;
	display: block;
	font-size: 16px;
	height: 27px;
	margin-bottom: 5px;
	padding: 8px 0 0 10px;
}


#partner_store {
	border: none;
	height: 100%;
	position: absolute;
}
