/* Partner Panel */

#partner_panel {
	background: url(/images/partner/backgrounds/panel.png) repeat-y;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 165px;
}

#partner_panel .back {
	background: url(/images/partner/backgrounds/back.png) repeat-x;
	height: 17px;
	padding: 8px 0;
	text-align: center;
	width: 150px;
}

#partner_panel .back:hover {
	background-position: 0;
	text-decoration: underline;
}

#partner_panel .finder {
	background: url(/images/partner/backgrounds/finder.png) repeat-x;
	margin: 5px 0 0 0;
	padding: 4px 5px;
	width: 140px;
}

#partner_panel .finder form {
	margin: 0;
}

#partner_panel .finder p {
	margin: 0;
}

#partner_panel .finder #finder_specification {
	border-size: 3px;
	width: 134px;
}

#partner_panel .finder #submit {
	margin-top: 5px;
	width: 140px;
}

#partner_panel .pick_list {
	background: url(/images/pick_lists/backgrounds/enabled.png) repeat-x;
	color: white;
	cursor: default;
	margin-top: 5px;
	width: 150px;
}

#partner_panel .pick_list .name {
	float: left;
	padding: 4px;
}

#partner_panel .pick_list .total {
	float: right;
	padding: 4px;
}

#partner_panel a {
	color: white;
	clear: both;
	display: block;
	height: 28px;
	overflow: hidden;
	padding: 7px 0 7px 0;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 150px;
}

#partner_panel .pick_list a.available {
	background: url(/images/pick_lists/buttons/item.png) no-repeat;
}

#partner_panel .pick_list a.available:hover {
	background-position: 0 -43px;
}

#partner_panel .pick_list a.unavailable {
	background: url/images/pick_lists/buttons/item_unavailable.png) no-repeat;
	color: #404040;
}

#partner_panel .pick_list img {
	border: 1px solid gray;
	float: left;
	height: 25px;
	margin: 0 7px;
	width: 25px;
}

#partner_panel .pick_list p {
	font-color: red;
	margin: 7px 0 0 0;
	text-align: center;
}

/* Partner Store */

#partner_store {
	border: none;
	height: 100%;
	position: absolute;
}
