#po_buy_later .pick_buttons div {
	cursor: pointer;
	float: left;
	height: 23px;
}

#po_buy_later .pick_buttons div.buy_now {
	background: url(/images/pick_options/buttons/buy_now_blue.png) no-repeat;
	width: 59px;
}

#po_buy_later .pick_buttons div.reset {
	background: url(/images/pick_options/buttons/reset_blue.png) no-repeat;
	width: 58px;
}

#po_buy_later .pick_buttons div:hover {
	background-position: 0 -23px;
}

#po_buy_later .pick_buttons div:active {
	background-position: 0 -46px;
}

#po_buy_later div.product {
	padding-top: 10px;
}

#po_buy_later hr.final {
	margin: 10px 0;
}

#po_buy_later img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin: 0 7px;
	width: 50px;
}

#po_buy_later p.empty {
	font-size: 14px;
	margin: 0;
	padding: 17px 0;
	text-align: center;
}


#po_buy_now a.product {
	display: block;
	padding: 5px 0;
	text-decoration: none;
}

#po_buy_now a.product:hover {
	background: #F9BD48;
}

#po_buy_now a.product > * {
	color: #404040;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#po_buy_now a.product img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin: 0 10px 0 5px;
	width: 50px;
}

#po_buy_now div.button {
	cursor: pointer;
	height: 18px;
	padding: 5px 0 0 25px;
	width: 60px; /* 137px */
}

#po_buy_now div.move {
	background: url(/images/product_detail/buttons/move.png) no-repeat;
}

#po_buy_now div.button:hover {
	background-position: 0 -23px;
	color: white;
}

#po_buy_now div.button:active {
	background-position: 0 -46px;
}

#po_buy_now p.empty {
	display: none;
	font-size: 14px;
	margin: 0;
	padding: 16px 0;
	text-align: center;
}

#po_buy_now table {
	border-collapse: collapse;
	width: 100%;
}

#po_buy_now table td.buttons {
	border-top: 1px solid silver;
	padding: 0 5px 0 0;
	white-space: nowrap;
	width: 117px;
}

#po_buy_now table td.buttons div {
	cursor: pointer;
	float: left;
	height: 23px;
}

#po_buy_now table td.buttons div.buy_later {
	background: url(/images/pick_options/buttons/buy_later_blue.png) no-repeat;
	width: 59px;
}

#po_buy_now table td.buttons div.reset {
	background: url(/images/pick_options/buttons/reset_blue.png) no-repeat;
	width: 58px;
}

#po_buy_now table td.buttons div:hover {
	background-position: 0 -23px;
}

#po_buy_now table td.buttons div:active {
	background-position: 0 -46px;
}

#po_buy_now table td.count {
	background: #404040;
	border-left: 1px solid silver;
	color: silver;
	padding: 5px;
	text-align: center;
}

#po_buy_now table td.count a {
	color: white;
	text-decoration: none;
}

#po_buy_now table td.count a:hover {
	text-decoration: underline;
}

#po_buy_now table td.facility {
	border-left: 1px solid silver;
	text-align: center;
	width: 1%;
}

#po_buy_now table td.facility img {
	padding: 5px;
	width: 100px;
}

#po_buy_now table td.price {
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	text-align: center;
	width: 1%;
}

#po_buy_now table td.product {
	border-top: 1px solid silver;
	max-width: 410px;
}

#po_buy_now table tr.even td {
	background: #F3F3F3;
}

#po_buy_now table tr.even td.buttons div.buy_later {
	background: url(/images/pick_options/buttons/buy_later_grey.png) no-repeat;
}

#po_buy_now table tr.even td.buttons div.reset {
	background: url(/images/pick_options/buttons/reset_grey.png) no-repeat;
}

#po_buy_now table tr.even td.buttons div:hover {
	background-position: 0 -23px;
}

#po_buy_now table tr.even td.buttons div:active {
	background-position: 0 -46px;
}

#po_buy_now table tr.odd td {
	background: #DCE9F7;
}
