#product_detail .description {
	padding: 10px;
}

#product_detail .description a {
	background: #E0E0E0;
	border: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #404040;
	display: block;
	font-weight: bold;
	height: 18px;
	margin-top: 15px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	width: 160px;
}

#product_detail .description a:hover {
	color: black;
	text-decoration: underline;
}

#product_detail .description h2 {
	color: #159FFC;
	font-size: 16px;
	margin: 0 0 4px 0;
}

#product_detail .description h3 {
	color: #159FFC;
	font-size: 16px;
	margin: 15px 0 0 0;
}

#product_detail .description p {
	margin: 5px 0 0 0;
}

#product_detail .description ul {
	margin: 5px 0 0 0;
	padding-left: 25px;
}

#product_detail .images {
	float: left;
	padding: 5px;
	text-align: center;
	width: 400px;
}

#product_detail .images img.main {
	border: 1px solid gray;
	height: 400px;
	width: 400px;
}

#product_detail .images img.thumb {
	border: 1px solid gray;
	height: 50px;
	margin: 1px;
	width: 50px;
}

#product_detail .price_actions {
	float: left;
	margin-left: 2px;
	width: 230px;
}

#product_detail .price_actions h3 {
	color: #404040;
	font-size: 14px;
	margin: 15px 0 5px 5px;
}

#product_detail .price_actions table.prices {
	border: 1px solid silver;
	border-collapse: collapse;
	margin-top: 5px;
	width: 100%;
}

#product_detail .price_actions table.prices img {
	width: 100px;
}

#product_detail .price_actions table.prices td {
	padding: 2px;
	text-align: center;
}

#product_detail .price_actions table.prices td.no_stock {
	background: #F3F3F3;
}

#product_detail .price_actions table.prices td.price {
	background: #DCE9F7;
}

#product_detail .price_actions table.related_media {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

#product_detail .price_actions table.related_media a {
	color: #404040;
	text-decoration: none;
}

#product_detail .price_actions table.related_media a:hover {
	color: black;
	text-decoration: underline;
}

#product_detail .price_actions table.related_media td.icon {
	text-align: center;
	width: 35px;
}

#product_detail .relations {
	background: #F3F3F3;
	border-top: 1px dotted gray;
	padding: 0 10px 10px 10px;
}

#product_detail .relations h3 {
	color: #404040;
	margin: 15px 0 0 0;
}

#product_detail .relations .more {
	color: #404040;
	cursor: pointer;
	text-align: center;
}

#product_detail .relations .more:hover {
	color: black;
	text-decoration: underline;
}

#product_detail .relations a.product {
	border-top: 1px dotted silver;
	display: block;
	margin-top: 5px;
	padding: 5px 0;
	text-decoration: none;
}

#product_detail .relations a.product:hover {
	background: #F9BD48;
}

#product_detail .relations a.product > * {
	color: black;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#product_detail .relations a.product img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin: 0 10px 0 5px;
	width: 50px;
}
