#product_detail .assets {
	padding: 5px;
}

#product_detail .assets img.main {
	border: 1px solid gray;
	float: left;
	height: 400px;
	width: 400px;
}

#product_detail .assets .price_actions {
	float: left;
	margin-left: 10px;
	width: 169px;
}

#product_detail .assets .price_actions table.prices {
	border: 1px solid silver;
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
}

#product_detail .assets .price_actions table.prices img {
	width: 100px;
}

#product_detail .assets .price_actions table.prices td {
	padding: 5px;
	text-align: center;
}

#product_detail .assets .price_actions table.prices td.no_stock {
	background: #F3F3F3;
}

#product_detail .assets .price_actions table.prices td.price {
	background: #DCE9F7;
}

#product_detail .assets .price_actions div.button {
	cursor: pointer;
	height: 18px;
	margin: 5px 0 0 4px;
	padding: 5px 0 0 25px;
	width: 137px;
}

#product_detail .assets .price_actions div.add {
	background: url(/images/product_detail/buttons/add.png) no-repeat;
}

#product_detail .assets .price_actions div.media {
	background: url(/images/product_detail/buttons/move.png) no-repeat;
	margin-bottom: 10px;
}

#product_detail .assets .price_actions div.move {
	background: url(/images/product_detail/buttons/move.png) no-repeat;
}

#product_detail .assets .price_actions div.remove {
	background: url(/images/product_detail/buttons/remove.png) no-repeat;
}

#product_detail .assets .price_actions div.button:hover {
	background-position: 0 -23px;
}

#product_detail .assets .price_actions div.button:active {
	background-position: 0 -46px;
}

#product_detail .assets .thumbs {
	float: left;
	margin-left: 5px;
	width: 50px;
}

#product_detail .assets .thumbs img {
	border: 1px solid gray;
	height: 50px;
	width: 50px;
}

#product_detail .description {
	padding: 10px;
}

#product_detail .description a {
	background: url(/images/product_detail/buttons/view_related.png) no-repeat;
	color: black;
	display: block;
	height: 18px;
	margin-top: 15px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	width: 161px;
}

#product_detail .description a:hover {
	background-position: 0 -23px;
}

#product_detail .description a:active {
	background-position: 0 -46px;
}

#product_detail .description h2 {
	color: #404040;
	font-size: 16px;
	margin: 0 0 4px 0;
}

#product_detail .description h3 {
	color: #404040;
	margin: 15px 0 0 0;
}

#product_detail .description p {
	margin: 5px 0 0 0;
}

#product_detail .description ul {
	margin: 5px 0 0 0;
}

#product_detail .relations {
	background: #F3F3F3;
	border-top: 1px dotted gray;
	padding: 0 10px 10px 10px;
}

#product_detail .relations h3 {
	color: #404040;
	margin: 15px 0 0 0;
}


#product_detail .relations .more {
	color: #404040;
	cursor: pointer;
	text-align: center;
}

#product_detail .relations .more:hover {
	text-decoration: underline;
}

#product_detail .relations a.product {
	border-top: 1px dotted silver;
	display: block;
	margin-top: 5px;
	padding: 5px 0;
	text-decoration: none;
}

#product_detail .relations a.product:hover {
	background: yellow;
}

#product_detail .relations a.product > * {
	color: black;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Verify needed by Firefox */
#product_detail .relations a.product h2 {
	border: none;
}

#product_detail .relations a.product img {
	border: 1px solid gray;
	float: left;
	height: 50px;
	margin: 0 10px 0 5px;
	width: 50px;
}
