#product {
  background: white;
  border: 1px solid silver;
  border-right: none;
  border-top: none;
}

#product h1 {
  color: #404040;
  font-size: 18px;
  margin: 10px;
}

#product h1 img {
  float: left;
  margin-left: 5px;
}
