#image_popup {
	background: gray;
/*	background: #B0E0FF;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
	padding: 5px;
	position: absolute;
	z-index: 10;
}

#image_popup img {
	height: 200px;
	width: 200px;
}

#image_popup p {
	color: white;
	margin: 0;
/*	padding: 3px;*/
	width: 200px;
}
