#product {
  float: left;
  margin-right: 165px;
  padding: 5px 15px;
}

#product h1 {
  color: #404040;
  font-size: 18px;
  margin: 10px 0;
}

#product h1 img {
  float: left;
  margin-right: -185px;
}

#product h1 span {
  float: left;
  margin-left: 185px;
}

#product p.summary {
  color: gray;
}

#product h2 {
  color: #20A5FF;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

#product .info_snippet {
  font-size: 14px;
  margin-bottom: 10px;
}

#product .info_snippet p {
  margin: 5px 10px 10px 10px;
}

#product .info_snippet ul {
  margin: 5px 10px 10px 10px;
  padding-left: 15px;
}

#product #pick_sibling {
  margin-bottom: 5px;
  padding: 0 0 5px 10px;
}

#product #pick_sibling img.property_icon {
  padding-bottom: 5px;
  vertical-align: middle;
}

#product #pick_sibling select {
  margin-left: 5px;
  width: 275px;
}

#product .main_info {
  margin: 10px 0;
}

#product .main_info .images {
  float: left;
  margin-right: -412px;
  width: 402px;
}

#product .main_info .images img.main {
  border: 1px solid silver;
  height: 400px;
  width: 400px;
}

#product .main_info .images img.thumb {
  border: 1px dotted silver;
  height: 50px;
  margin-right: 5px;
  opacity: 0.5;
  width: 50px;
}

#product .main_info .other {
  float: left;
  margin-left: 412px;
}

#product .extended_info h4 {
  margin: 10px;
}

#product .related_set {
  margin: 0 0 15px 10px;
}

#product .related_set a {
  margin-right: 5px;
}

#product .related_set img {
  border: 1px solid silver;
  height: 50px;
  width: 50px;
}

#product .related_media {
  margin-top: 10px;
}

#product .related_media a {
  color: #404040;
  text-decoration: none;
}

#product .related_media a:hover {
  color: black;
  text-decoration: underline;
}

#product .related_media table {
  background: #E0F0FF;
  border: 1px solid silver;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 5px 0 0 0;
  width: 100%;
}

#product .related_media table td {
  padding: 3px;
}

#product .related_media table td.icon {
  width: 30px;
}
