#link_popup {
  background: #B0E0FF;
  border: 1px solid #404040;
  box-shadow: 5px 5px 5px #404040;
  -moz-box-shadow: 5px 5px 5px #404040;
  -webkit-box-shadow: 5px 5px 5px #404040;
  display: none;
  position: absolute;
  z-index: 10;
}

#link_popup img {
  height: 200px;
  margin-bottom: -3px;
  width: 200px;
}

#link_popup p {
  color: #404040;
  margin: 0;
  padding: 5px;
  width: 190px;
}
