#product_data_panel .advert {
	border-left: 1px solid silver;
	text-align: center;
}

#product_data_panel .advert img {
	border: 1px solid silver;
	margin: 10px 0 8px 0;
	width: 230px;
}

#product_data_panel .sections .property {
	margin-left: 5px;
	width: 240px;
}

#product_data_panel .sections .property img.property_icon {
	margin-top: 2px;
}

#product_data_panel .sections .property td {
	padding: 0;
}

#product_data_panel .sections .property td.summary {
	padding: 0 5px;
	width: 100%;
}

#product_data_panel .sections hr.terminator {
	height: 5px;
}
