#tooltip {
	background: #B0E0FF;
	border: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: none;
	max-width: 250px;
	padding: 15px;
	position: absolute;
	z-index: 5000;
}
