<!DOCTYPE html PUBLIC
  <% if @transitional %>
"-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% else %>
"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<% end %>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= @page_title.nil? ? "ifloat® - Boat Equipment, Boat Accessories, Sailing Clothing and Sea Books" : "#{@page_title}" %></title>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <% unless @page_description.nil? %>
    <meta name="description" content=<%= @page_description.attribute_escape.inspect %> />
    <% end %>
    
    <% unless @canonical_path.nil? %> <link rel="canonical" href="<%= @canonical_path %>" /> <% end %>
    
    <link rel="stylesheet" href="/stylesheets/compiled.css" type="text/css" media="screen" charset="utf-8" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets_ie/ie7.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="/stylesheets_ie/ie8.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
    
    <% unless @skip_javascript %>
    
    <link rel="stylesheet" href="/stylesheets/ui/ui.css" type="text/css" media="screen" charset="utf-8" />
    <% if Merb.environment == "development" %>
    <script type="text/javascript" src="/javascripts/dev_local/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/dev_local/jquery-ui.min.js"></script>
    <% else %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <% end %>
    <script src="/javascripts/compiled.js" type="text/javascript" charset="utf-8"></script>
    
    <% if Merb.environment == "production" %>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18470174-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <% end %>
    
    <% end %>
  </head>
  
  <body>
    <%= catch_content :for_layout %>
    
    <% unless @skip_copyright %>
    <hr class="terminator" />
    <p class="copyright">
      <span class="notice">© 2011 ifloat LLP</span> |
      <a href="/about_us">About Us</a> |
      <a href="mailto:admin@ifloat.biz">Contact Us</a> |
      <a href="/terms.pdf">Terms</a>
    </p>
    <% end %>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        if(! $.browser.safari) return;
        
        $('body').prepend('<p class="global"> <img src="/images/common/safari.png" alt="safari" /> We\'re working hard to fix a few problems with Safari and our checkout process at the moment. To workaround the issue in the mean time, please change your settings to accept cookies \'Always\' rather than \'Only from sites I visit\' while you\'re visiting us. Alternatively, use a different browser like Firefox / Chrome.</p>');
        var para = $('p.global')
        var para_height = para.outerHeight(true);
        var elements = [$('#header .addthis_toolbox'), $('#header .advert'), $('#header .strapline'), $('#header .translate')];
        for(var i in elements) {
          var e = elements[i];
          e.css('top', parseInt(e.css('top')) + para_height + 'px');
        }
        para.animate({backgroundColor: 'yellow'}).animate({backgroundColor: '#FFFFE0'})
      });
    </script>
  </body>
</html>
