<!DOCTYPE html PUBLIC
<% if @transitional %>
	"-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% else %>
	"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<% end %>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
	<% unless @hide_title %>
    <title>iFloat - Find, Buy, Float</title>
    <% end %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- <link rel="stylesheet" href="/stylesheets/compiled.css" type="text/css" media="screen" charset="utf-8" /> -->
	<% Dir["public/stylesheets/*.css"].each do |path| %>
		<link rel="stylesheet" href="/stylesheets/<%= File.basename(path) %>" type="text/css" media="screen" charset="utf-8" />
	<% end %>
	<% unless @skip_javascript %>
	<link rel="stylesheet" href="/stylesheets/ui/ui.all.css" type="text/css" media="screen" charset="utf-8" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
	<script src="/javascripts/compiled.js" type="text/javascript" charset="utf-8"></script>
	<% end %>
  </head>

  <body>

<%= catch_content :for_layout %>

  </body>
</html>