<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="categories">
  <%= @children_links.map { |l| "<div>#{l}</div>" } %>
</div>

<div id="basket_panel"> </div>

<script type="text/javascript" charset="utf-8">
  basket_panel_load();
</script>
