<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="about_us">
  <h1>About Us</h1>
  <h3>Sailing since the 1930s</h3>
  
  <div class="section1">
    <div class="image">
      <img src="/images/about_us/mahaki_close_hauled.jpg" alt="Mahaki, built by Logan Brothers in 1895 close hauled in a winters day on Auckland Harbour mid-1930s"/>
      <div>Arthur Logan design B-Class keeler Mahaki beating up Auckland Harbour in a blow in the mid-1930s</div>
    </div>
    
    <div class="text">
      <h2>Overview</h2>
      <p>ifloat<sup>®</sup> is an independent, innovative, unique marine leisure products affiliate marketing website.</p>
      <p>We offer a sophisticated and powerful approach to finding marine leisure and boating products from our own comprehensive database and aim to provide the single most valuable boating products resource on the internet.</p>
      <p>At ifloat<sup>®</sup> we offer an extreme depth of information on the products we list. The primary source for this information is from the manufacturers of the products we present and put as much of this as is reasonably possible at your fingertips. There is no need to look elsewhere for specific product information, which is time saving; all information in one place. It is this level of detail that allows us to provide you with tools to differentiate and filter products with unprecedented speed and power.</p>
      <p>Once you are ready to buy what you have found, we make it easy to find the best price from our partners - senior suppliers in the marine leisure market, with large inventories and a solid track record of delivering quality products and service.</p>
      <p>It couldn't be simpler - find, buy, float.</p>
      
      <h2>Our History / about the founders</h2>
      <p>The founders are both are qualified to advanced university level and have long-serving backgrounds in engineering and humanities. This allows a blend of 'numbers' and 'letters' with the focus being on the practical, simple and efficient ways of creating a boating resource.</p>
      <p>The family's history in boating goes back over 80 years, from a sea-scouts saling cutter to the ownership in the '1930s' of the now-historic classic Mahaki B-class schooner (sail number B8), built by Arthur Logan in 1895 in Auckland, New Zealand (and still sailing). First sailing was self-taught at age seven in a ten foot clinker dinghy with a simple gunter rig, leading to a self-build by one of the founders, at age 15, of a Moth. Later on windsurfing became the draw and then on to modest doses of cruising.</p>
    </div>
    
    <hr class="terminator" />
  </div>
  
  <div class="section2">
    <div class="image">
      <img src="/images/about_us/mahaki_racing.jpg" alt="Mahaki, B8, built by Logan Brothers in 1895, racing  Waione, B3, on Auckland Harbour mid-1930s" />
      <div>Arthur Logan design B-Class keeler Mahaki B-8 racing against the Charles Bailey Jnr. design Waione B-3 in Auckland Harbour mid-1930s</div>
    </div>
    
    <div class="text">
      <h2>Moving on / how ifloat<sup>®</sup> came about</h2>
      <p>ifloat<sup>®</sup>  was born from our experience into the sailing gear that we needed to buy for an ocean voyage. We found the amount and consistency of product information was highly variable and affected our confidence that they were making good choices of the products on offer. Market research confirmed we were not alone in our product selection experience. One UK cruising yacht owner interviewed confessed to spending between 15 to 20 hours per month on the internet trying to find products needed to support his sailing. As a result, a gap in the market gap was identified and we were determined to create a simple, straightforward and knowledgeable resource to present manufacturer information with leading retailers' product offers, and so give back wasted time that could be better spent out on the water; the result is ifloat<sup>®</sup>. The ocean voyage will come later.</p>
      
      <h2>What we've created / the ifloat<sup>®</sup> Web Application</h2>
      <p>The site is supported by an innovative technical design and all available manufacturer product data is put at the centre of the user experience. In addition to the powerful Find option, which acts on all the user data entered, there are over 300 property icon-driven filters that give full control to the user over every piece of product data they have in mind to find what they want. All measurements are seamlessly selectable in either Imperial or SI/Metric systems (both are displayed) and for clothing, all manufacturer sizes can be directly selected to show every item of that size instantly; no more size table lookups. Any product for sale can be found quickly and easily.</p>
      <p>All products can be selected (without limit) for side-by-side differentiation, bought immediately, or stored for future purchase. For increased buying confidence, large detail product images are used (many in high-resolution size) so you can 'visually touch' the products and then access the available technical documentation and other supporting materials. Once ready to buy, you are taken to the selected retailer site (the ifloat<sup>®</sup> site including the find box remains visible with seamless switching between sites) to pay and go.</p>
    </div>
    
    <hr class="terminator" />
  </div>
  
  <h2>Using ifloat<sup>®</sup></h2>
  <div class="first use_section">
    <p>We designed the site to be intuitive and have monitored the achievement of this since we launched. As a result we have made a number of changes to ensure we leverage the power of the data-driven application to the user's advantage.</p>
    <p>The power of the Find box is one of the gems of the site. The application has extensive and powerful algorithms to assist you and make helpful suggestions as to what we interpret your need to be, when there is not a clear match of words. The more words you type in the more focussed the result will be.</p>
    <p>The results of your Find will be the Categories that have any form of reference to your Find. When you select a Category, all the Product Types associated with you Find will display. On selection of a Product Type you will then have access to the unique and powerful product specification Filters that will quickly help you to find the products that are likely candidates for purchase. When you select Checkout, we will take you by a special link, to the Checkout on the website of one of our Partner Retailers for the normal payment process. Your purchase(s) will be shipped direct from  the Retailer to you.</p>
  </div>
  <div class="second use_section">
    <p>Where many products are possible solutions to your need, when the Product Detail page is displayed, simply click the 'Add to Compare List' button below the Basket. Keep doing this for as many products you require. When viewing your selection, the common properties are separated out leaving the differences clear to speed your choice.</p>
    <p>If you find a product and wish to save it for a Future Buy, then simply save it indefinitely by using the 'Add to Future Buys' button below the Basket. To use this feature we need you to Register with us so we can keep your list saved and separate.</p>
    <p>We welcome feedback; just send us an email via 'Contact Us'; all received are answered promptly.</p>
    <p>Thank you for reading about us and we hope to see you back soon.</p>
    <p>The ifloat<sup>®</sup> Team.</p>
  </div>
</div>
