<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="product">
  <h1><%= brand_image(@brand) %> <%= @title.superscript %></h1>
</div>

<div id="basket_panel">
  <h2>basket in this column</h2>
</div>
