<%= partial "common/header" %>

<div id="body">

<div id="prod_data_panel" class="panel minor">
	<div class="title"> <h2>Product Data</h2> </div>
	<div class="advert">Manufacturer Logo Here</div>
	<div class="sections">
		<%= product_data_panel(@common_values) %>
	</div>
</div>

<div id="product_detail" class="panel major">
	<div class="title">
		<% if @recent_find.nil? %>
		<h2></h2>
		<% else %>
		<h2 class="button">
			<a href="<%= resource(@recent_find) %>">Back to <strong><%= @recent_find.specification.inspect %></strong> results</a>
		</h2>
		<% end %>
	</div>
	
	<div class="body">
		IMPLEMENT PRODUCT DETAIL BODY
	</div>
</div>

</div>
