<div id="header">
  <div class="global_links">
    <a href="mailto:admin@ifloat.biz">Contact Us</a> |
    <a href="/terms.pdf">Terms</a>
    <a class="login" href="#">Log In</a>
  </div>
  
  <a href="/"><img src="/images/common/logo.png" alt="ifloat logo" /></a>
  
  <div class="find_bar">
    <%= partial "common/finder" %>
    <div id="basket_tab">BASKET</div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var $ifloat_header = {};
  var $ifloat_body = {};
  
  $(document).ready(function() {
    login_update();
    <% if @async_tracking %> $.get("/users/track", {url: window.location.pathname, r: Math.random()});<% end %>
  });
</script>
