<script type="text/javascript" charset="utf-8">
	$("body").css("background", "url(/images/common_header/backgrounds/sky_find_bar.png) repeat-x");
</script>

<div id="main_header">
	<span id="global_links">
		<a href="#">Blog</a> |
		<a href="mailto:admin@ifloat.biz">Contact Us</a> |
		<a href="/terms.pdf">Terms</a> |
		<% if session.authenticated? %>
		<a href="#" onclick="login_logout()">Log Out (<%= session.user.nickname || session.user.name %>)</a>
		<% else %>
		<a href="#" onclick="login_open()">Log In</a>
		<% end %>
	</span>
	<img src="/images/common_header/logo.png" />
	<div id="find_bar">
		<%= partial "common/finder" %>
		
		<div id="pl_buy_now" class="pick_list">
			<span class="name">Shopping List</span>
			<span class="total"></span>
			<div class="items"></div>
		</div>
		
		<div id="pl_buy_later" class="pick_list">
			<span class="name">Wish List</span>
			<span class="total"></span>
			<div class="items"></div>
		</div>
		
		<div id="pl_compare" class="pick_list">
			<span class="name">Compare List</span>
			<span class="total"></span>
			<div class="items"></div>
		</div>
	</div>
</div>

<%= partial "common/login" %>

<div id="tooltip">
	<table>
		<tr class="top">
			<td class="left">&nbsp;</td>
			<td class="center">&nbsp;</td>
			<td class="right">&nbsp;</td>
		</tr>
		<tr class="middle">
			<td class="left">&nbsp;</td>
			<td class="center"><p></p></td>
			<td class="right">&nbsp;</td>
		</tr>
		<tr class="bottom">
			<td class="left">&nbsp;</td>
			<td class="center">&nbsp;</td>
			<td class="right">&nbsp;</td>
		</tr>
	</table>
</div>

<img id="image_popup" src="" />

<script type="text/javascript" charset="utf-8">
	var vert = ["top", "middle", "bottom"];
	var horiz = ["left", "center", "right"];
	for(v in vert) {
		for(h in horiz) {
			util_preload_image("/images/tooltip/backgrounds/" + vert[v] + "_" + horiz[h] + ".png");
		}
	}
		
	pick_lists_update();
</script>
	