<div id="header">
  <div class="global_links">
    <a class="login" href="#">Log In</a>
  </div>
  
  <a class="logo" href="/"><img src="/images/common/logo.png" alt="ifloat logo" width="158" height="106" /></a>
  
  <div class="advert">
    <%= Indexer.banner_html_for_location("header") %>
  </div>
  
<!--   <div class="translate">
    <div id="google_translate_element"></div><script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        gaTrack: true,
        gaId: 'UA-18470174-1',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
    }
    </script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div> -->
  
  <!-- AddThis Button BEGIN -->
<!--  <div class="addthis_toolbox addthis_default_style">
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
  <a class="addthis_button_compact"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e1eed720c640cce"></script> -->
  <!-- AddThis Button END -->
  
  <div class="strapline">
    find boat equipment, sailing wear and sea books then buy them from our partners safely and easily
    <a href="http://blog.ifloat.biz">read our blog</a>
  </div>
  
  <div class="find_bar">
    <div class="categories">
      <a href="/categories" class="show_all">All Categories</a>
      <ul>
        <% Indexer.category_children_for_node([]).sort.each do |name| %>
        <li><%= category_link([name], nil, [], nil) %></li>
        <% end %>
      </ul>
    </div>
    
    <%= partial "common/finder" %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var $ifloat_header = {facility: <%= Indexer.facilities.values.first.keep(:id, :description).to_json %>}
  
  $(document).ready(function() {
    login_update();
    <% if @async_tracking %> $.get("/users/track", {url: window.location.pathname, r: Math.random()});<% end %>
  });
</script>
