<div id="header">
  <div class="global_links">
    <a href="/about_us">About Us</a> |
    <a href="mailto:admin@ifloat.biz">Contact Us</a> |
    <a href="/terms.pdf">Terms</a>
    <a class="login" href="#">Log In</a>
  </div>
  
  <a class="logo" href="/"><img src="/images/common/logo.png" alt="ifloat logo" width="158" height="106" /></a>
  
  <div class="advert">
    <a target='new' href="http://click.linksynergy.com/fs-bin/click?id=zVqjWhi8Vh4&offerid=219627.4&type=4&subid=0"><img alt="Helly Hansen Standard Banner 600x120" border="0" width="400" height="80" src="http://dev3.grow.eu/linkshare/images/HH_affiliate_banner_02.jpg"></a><img border="0" width="1" height="1" src="http://ad.linksynergy.com/fs-bin/show?id=zVqjWhi8Vh4&bids=219627.4&type=4&subid=0">
  </div>
  
  <div class="strapline">
    find marine leisure products quickly and buy them from our partners with safety and ease
  </div>
  
  <div class="find_bar">
    <div class="categories">
      <a href="/categories" class="show_all">All Categories</a>
      <ul>
        <% Indexer.category_children_for_node([]).sort.each do |name| %>
        <li><%= category_link([name], nil, [], nil) %></li>
        <% end %>
      </ul>
    </div>
    
    <%= partial "common/finder" %>
    
    <div id="basket_tab">BASKET</div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var $ifloat_header = {facility: <%= Indexer.facilities.values.first.to_json %>}
  
  $(document).ready(function() {
    login_update();
    <% if @async_tracking %> $.get("/users/track", {url: window.location.pathname, r: Math.random()});<% end %>
  });
</script>
